/* DEFAULTS */
ul li{list-style:disc inside;line-height:20px}
ol li{list-style:decimal inside;line-height:20px;margin-bottom:8px}
ol{margin-bottom:15px}
h2{font-family:'ubuntu';font-size:24px;}
strong{font-weight:bold;}
em{font-style:italic;}
h2,h3{margin-bottom:10px;}
ul{margin-bottom: 15px;}