# Apache configuration file (see httpd.apache.org/docs/current/mod/quickreference.html)

# disable directory listing
<IfModule mod_autoindex.c>
        Options -Indexes
</IfModule>

# enable cool URL
<IfModule mod_rewrite.c>
        RewriteEngine On
            
        # pro .sk domenu
	RewriteCond %{HTTP_HOST} .*\.sk [NC]
	RewriteRule ^(.*)$ "/sk/$1" [L]

        # pro ostatni domeny vzdy na /cz/
        RewriteRule ^(.*)$ "/cz/$1" [L]
</IfModule>
