{snippet cart-mini}
    <div class="pull-right" id="shopping-cart" data-url-main="{link cartMiniUpdate!}">
        <a href="{plink Default:shoppingCart}">
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Přejít k pokladně">
                    <span class="fa fa-shopping-cart fa-size-1a4x hidden-xs">&nbsp;&nbsp;</span>
                    <span class="text"><b>K pokladně</b></span> 
                    <span class="badge"><span class="hidden-xs">{$pocet} pol. / </span>{$cena_s_dph__celkem|money: 'Kč'}</span>
                </button>
            </div>
        </a>
    </div>
{/snippet}