<div class="col-xs-12" id="items-pagination-container">
    <ul id="items-pagination" 
        data-pagination-url="{$itemsUrl}" 
        data-pagination-page="{$itemsUrl->getQueryParameter('page')}"
        data-pagination-totalPage="{$itemsPageTotal}">
    </u>
</div>