{snippet productsManipulation}
    <div class="row product-manipulation-row margin-bottom-base">
        {include _products-manipulation.latte}
    </div>
{/snippet}

<div class="row">
    {include _products.latte}
</div>

{snippet productsPaginator}
    <div class="row">
        {include _products-paginator.latte}
    </div>
{/snippet}