<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Akční nabídka</div>
    </div>
    {foreach $itemData as $item}
        <div class="panel-body small">
            <div class="product-img-akce" style="position: relative;">
                <a href="{plink Default:itemDetail $item['kategorie']['alias'], $item['vyrobce']['alias'], $item['alias']}" data-toggle="tooltip" data-placement="auto" title="Zobrazit detail produktu">
                    {if '' != $item['schvaleno_oem']}
                        <div style="position: absolute; right: 2px; top: 2px;">
                            <img src="{constant('ROOT_WEB_WWW')}/images/schvaleno-oem.png" style="height: 20px;" />
                        </div>
                    {/if}

                    {if '' == $item['img']}
                        <img class="img-responsive" src="{constant('ROOT_WEB_WWW')}/images/layout/nopic.png" alt="Obrázek chybí" />
                    {else}
                        <img class="img-responsive" src="{constant('ROOT_WEB_WWW')}/images/items/small/{$item['img']}" alt="{$item['nazev']}">
                    {/if}

                    <div>{$item['nazev']}</div>
                    <span class="product-price">
                        <b>{ceil($item['cena_bez_dph'] * constant('DPH'))|money: 'Kč'}</b>
                        <i>(vč. DPH {constant('DPH_PROCENTO')})</i> 
                        <span class="fa fa-info-circle" data-toggle="tooltip" data-plament="top" title="Částka je zaokrouhlena na celé koruny nahoru"></span>
                    </span>         
                </a> 
                <hr/>
            </div>
        </div>
    {/foreach}
</div>