<div class="row">
    <div class="margin-bottom-large">
        <h4>Tato sekce je určena pro kalkulaci individuálních cen při větších odběrech.</h4>
        Vyplňte formulář níže a odešlete. Naši obchodníci vás budou kontaktovat.
    </div>
    
    <div>{control blankCartForm}</div>
</div>