{* ********** TITLE *********************************}
{block title} {$title} {/block}

{* ********** CONTENT *******************************}
{block content}
    {control {$itemPresenterName}Control:$itemActionName $itemId}
{/block}