{block rightbar}

    <div class="margin-bottom-base">
        <a href="{plink Default:shoppingCart blankCart=>1}">
            <img src="{constant('ROOT_WEB_WWW')}/images/sleva_20_v3.png" class="img-responsive" />
        </a>    
    </div>

    {control itemsControl:itemsInAction}
{/block}

{block content}
    {control itemsControl:items $itemsSqlParams}
{/block}