{* Latte template *}

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    {include navigation.navbar-header.latte}
    {include navigation.navbar-top-links.latte}
    {include navigation.navbar-sidebar.latte}
</nav>